<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Dragonspire - Contacto</title>
    <link rel="stylesheet" href="../styles/contacto.css">
</head>
<body>
    <header class="navbar">
        <div class="nav-center">Contacto</div>
        <div class="nav-right"><a href="../../index.html">Volver al Inicio</a></div>
    </header>

    <section id="contacto">
        <div class="contacto-text">
            <h2>CONTÁCTO</h2>
            <p>Escribeme</p>
            <form>
                <input type="text" placeholder="tu nombre">
                <input type="email" placeholder="tu correo">
                <textarea placeholder="tu mensaje..."></textarea>
                <button type="submit">Enviar</button>
            </form>
        </div>
    </section>

    <footer class="footer-contacto">
        <p>&copy; 2026 </p>
    </footer>
</body>
</html>
