<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Mascotas</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

    <header>
        <h1>Galería de Mascotas</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="../views/mascotas.html">Mascotas</a></li>
            </ul>
        </nav>
    </header>

    <section class="galeria-mascotas">
        <h2>Flexbox - Galería en filas</h2>
        <div class="flex-galeria">
            <img src="https://picsum.photos/id/237/600/600" alt="Perro 1">
            <img src="https://picsum.photos/id/201/600/600" alt="Gato 1">
            <img src="https://picsum.photos/id/133/600/600" alt="Perro 2">
            <img src="https://picsum.photos/id/251/600/600" alt="Gato 2">
            <img src="https://picsum.photos/id/180/600/600" alt="Perro 3">
            <img src="https://picsum.photos/id/315/600/600" alt="Conejo">
        </div>

      
</body>
</html>