<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galería de Mascotas</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>

    <header>
        <h1>Galería de Mascotas</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">Inicio</a></li>
                <li><a href="../views/mascotas.html">Mascotas</a></li>
            </ul>
        </nav>
    </header>

   <section class="galeria-mascotas"> 
    <div class="mascota">
        <img src="../img/pngtree-golden-retriever-dog-pictures-png-image_15147078.png" alt="Perro 1">
        <h3 class="h3mas">Mi Mascota 1</h3>
        <p>Una breve descripción para activar el diseño de tarjeta.</p>
    </div>
    <div class="mascota">
        <img src="../img/razas-de-gatos.jpg" alt="Perro 1">
        <h3 class="h3mas">Mi Mascota 1</h3>
        <p>Una breve descripción para activar el diseño de tarjeta.</p>
    </div>
    <div class="mascota">
        <img src="../img/images.jpeg" alt="Perro 1">
        <h3 class="h3mas">Mi Mascota 1</h3>
        <p>Una breve descripción para activar el diseño de tarjeta.</p>
    </div>
    </section>
      
</body>
</html>